body {
  background: #ffe8ba;
  background: -moz-linear-gradient(top, #ffe8ba 49%, #99ffc6 100%);
  background: -webkit-linear-gradient(top, #ffe8ba 49%,#99ffc6 100%);
  background: linear-gradient(to bottom, #ffe8ba 49%,#99ffc6 100%);

  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: 'Overpass Mono', monospace;
}

main {
  display: flex;
  flex-direction: column;

  align-items: center;

  text-align: center;
}

main > * {
  margin: 5rem;
}

.trash {
  transform: rotate(90deg);
  max-height: 50vh;
}

.sat {
  text-transform: uppercase;
}

.spotlight {
  text-align: center;
  width: 50%;

  padding: 1rem;

  background-color: white;
  border-right: black solid 4px;
  border-bottom: black solid 4px;
}

strong {
  border-bottom: black dotted 2px;
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px),
@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3)
{
  hr {
    width: 100%;
  }

  .spotlight {
    width: 80%;
  }

  main {
    margin-bottom: 10rem;
  }
}
